{% extends "base.html" %}

{% block title %}Home {{ super() }}{% endblock %}

{% block nav_scroller %}{% include "partials/nav_scroller.html" %}{% endblock %}

{% block content %}

{% if not current_user.is_authenticated %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-secondary">
    <div class="col-lg-8 col-12 px-0">
        <h2 class="display-5">Hello, Guest! Welcome to FootyStory</h2>
        <p class="lead my-3">FootyStory seeks to celebrate the essence of writing, publishing, reading, and
            learning. Discover people, stories, and topics that matters most to you.</p>
        <a class="btn btn-dark text-white mr-3" href="signup.html">Get started</a>
        <a class="btn btn-outline-dark text-white" href="about.html">Learn more</a>
    </div>
</div>
{% endif %}

{% endblock %}