{% extends "base.html" %}

{% block title %}Explore Topics {{ super() }}{% endblock %}

{% block nav_scroller %}{% include "partials/nav_scroller.html" %}{% endblock %}

{% block content %} 
<div class="row mt-3">
    <div class="col-md-12">
        <h6>Explore Topics</h6>
        <p class="text-muted">Discover more topics to read latest stories that catches your fancy.</p>
    </div>
    {% for topic in topics %}
    <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between">
                <h4 class="card-title m-0">
                    <a href="{{ url_for('topic.detail', id=topic.id) }}" class="text-decoration-none">{{ topic.title }}</a>
                </h4>
                <a href="#"><i class="far fa-heart fa-2x"></i></a>
            </div>
            <img class="card-img-bottom" src="https://placehold.it/350x174" alt="{{ topic.title }}">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}