<div class="card flex-md-row mb-4">
    <div class="card-body d-flex flex-column align-items-start order-last order-md-first">
        <small class="d-inline-block text-uppercase">
            <a href="topic.html" class="text-decoration-none">World Cup</a>
        </small>
        <h4>
            <a href="post.html" class="text-decoration-none">Never feel overwhelmed at work again:
                how to use the M.I.T. technique</a>
        </h4>
        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
            additional content.</p>
        <div class="d-flex mt-3">
            <img class="rounded-circle mr-2" src="images/50x50.png">
            <div>
                <a href="profile.html" class="d-block text-decoration-none">Seyi Pythonian</a>
                <small class="text-muted" title="Updated 4 days ago.">Feb 8, 2018 &bull; 4 min
                    read</small>
            </div>
        </div>
    </div>
    <img class="flex-auto d-md-block order-first order-md-last" src="images/200x250.png">
</div>