{% for story in stories %}
<div class="card flex-md-row mb-4">
    <div class="card-body d-flex flex-column align-items-start order-last order-md-first">
        <small class="d-inline-block text-uppercase">
            <a href="" class="text-decoration-none">{{ story.topic }}</a>
        </small>
        <h4>
            <a href="{{ url_for('story.detail', id=story.id) }}" class="text-decoration-none">{{ story.title }}</a>
        </h4>
        <p class="mb-auto">{{ story.get_excerpts() }}</p>
        <div class="d-flex mt-3">
            <img class="rounded-circle mr-2" src="https://placehold.it/50x50">
            <div>
                <a href="{{ url_for('user.profile', username=story.author.username) }}" class="d-block text-decoration-none">{{ story.author.get_screen_name }}</a>
                <small class="text-muted" title="Updated {{ moment(story.updated).fromNow() }}.">{{ moment(story.published).format('LL') }} &bull; 4 min
                    read</small>
            </div>
        </div>
    </div>
    <img class="flex-auto d-md-block order-first order-md-last" src="https://placehold.it/200x250">
</div>
{% endfor %}